* {
  font-family: "PT Serif", serif !important;
  font-weight: 400;
}

strong {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

em {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
  font-family: "PT Serif", serif;
}