@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Courier Prime", monospace !important;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
}